
fastapi
uvicorn
starlette
flask
flask-sqlalchemy
streamlit


python-jose
passlib
bcrypt
email-validator


sqlalchemy
alembic
psycopg2-binary


langchain
langchain-core
langchain-community
langchain-openai
langchain-groq
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
openai
groq
ollama
tiktoken
autogen-agentchat
autogen-core
autogen-ext


httpx
aiofiles
aiohttp
aiosmtplib
httptools
uvloop
watchfiles
websockets


numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
tensorflow
keras
tensorboard


orjson
ujson
pyyaml
lxml
beautifulsoup4
python-docx
openpyxl
pyarrow


python-dotenv
requests
requests-toolbelt
rich
tqdm
tenacity
regex
uuid_utils
xxhash
zstandard
tabulate


altair
pydeck


networkx
jsonref
dataclasses-json
